c.execute(''' CREATE TABLE test(       # test - создал таблицу test
          title text,                  # title - поле в таблице, text - формат данных в таблице
          full_text text,
          views integer,
          autor text,
)''')

In [1]:
import sqlite3 as sq

db = sq.connect('data_base.db')

c = db.cursor()

c.execute('''CREATE TABLE IF NOT EXISTS test (
          title TEXT,      
          full_text TEXT,
          views INTEGER,
          autor TEXT
)''')

# df.to_sql('results', db, if_exists='append', index=True)
# c.execute('INSERT INTO results VALUES (?),(?)', (ukr[1],ukr[3],))
# c.execute("INSERT INTO test VALUES ('Facebook is not cool', 'near Facebook', '100','Admin')") # добавить в таблицу значения

# c.execute("SELECT rowid, * FROM test WHERE rowid = 2 ORDER BY rowid DESC") # * - означает что мы вытягиваем все поля, но можно и просто title,views ...
                                                                             # rowid - добавляет уникальный аунтификатор для каждой записи
                                                                             # ( WHERE поле, условие ), где знак неравенстава <>
                                                                             # ( ORDER BY поле/условие ) , где DESC - наоборот

                                                         
# c.fetchall()    # возвращает списов со всеми записями выборки
# c.fetchmany(1)  # c.fetchmany(a), где а это уникальный аунтификатор 
# c.fetchone()    # возвращает картеж с первой записью выборки
# c.fetchone()[1] # возвращает сразу title

# c.execute('DELETE FROM test') # удалить таблицу
# c.execute('DELETE FROM test WHERE rowid < 10') 



# c.execute("UPDATE test SET autor = 'Mytka', views = '1000' WHERE title = 'Facebook is not cool' ")

db.commit() # сохраняю изменения

db.close()